@page "/TemplateSession/{TemplateID:int}/{sessionId:int?}"


<PageTitle>Start a Session!</PageTitle>

<link href="/css/Session.css" rel="stylesheet" />


@if (SessionTemplate != null)
{
    <form @onsubmit="@(e => HandleSubmit())" class="container">
        <div class="card hg-card p-3" style="background: linear-gradient(to bottom, @SessionTemplate.TemplateColor , @GradientEndColor)">

            <h1 class="@TextColor">@(SessionID != null ? "Update" : "Enter") a Session for: @SessionTemplate.Name</h1>
            <div class="row @TextColor">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="startTime">Start Time</label>
                        <input required type="time" class="form-control" id="startTime" name="startTime" @bind="StartTime">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="endTime">End Time</label>
                        <input required type="time" class="form-control" id="endTime" name="endTime" @bind="EndTime">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="d-block mb-1" for="recurring">Recurring Session?</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="recurring" name="recurring">
                            <label class="form-check-label" for="recurring"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container py-3">
                <div class="row">
                    @if (!IsValidTimeRange())
                    {
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="text-danger warning-message justify-content-center">
                                Sessions can only be logged in the same day
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12 d-flex justify-content-center">
                            <button class="hg-submit-button justify-content-center" type="submit">@(SessionID != null ? "Update" : "Enter")</button>
                        </div>
                    }
                </div>
            </div>
           
        </div>
    </form>
    <div class="mt-4 col-md-12 d-flex justify-content-center">
        <a class="hg-back-btn justify-content-center" role="button" @onclick="() => HandleBackRequest()">Go Back</a>
    </div>


}
else
{
    <h1> Template not found</h1>
}
